table {
  font-family: Courier, monospace;
}

.headshot {
  border-radius: 50%;
}

.table-bordered {
  border: 5px double orange !important;
}

.table-hover tbody tr:hover {
  color: #efa032 !important;
  background-color: #052939!important;
}


.table-striped>tbody>tr:nth-child(odd) {
  background-color: rgba(260, 191, 175, 0.2);
}