.searchWidth {
  width: 30rem;
}

.containerWidth {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.form {
    font-family: Courier, monospace;
    font-size:20px!important;
    box-shadow: 3px 3px 10px #052939,
    -2px 1px 10px #052939;
}
